.about__container
    width: 260px
    padding: 45px 0

.about__items
    display: flex
    flex-direction: column

.about__list-item-logo
    margin: 20px 0

.about__list-item-name
    font-family: 'Open Sans Bold'
    font-size: 17px
    color: black