.about
    margin: 40px 30px

.about__title
    color: black
    font:
        family: 'Open Sans Bold', Arial
        size: 25px
        weight: 700

.about__items
    display: flex
    flex-direction: column

.about__list-item-logo
    margin: 20px 0

.about__list-item-name
    color: black
    font:
        family: 'Open Sans Bold', Arial
        size: 17px
        weight: 700