.product-week__container
    width: 260px
    padding: 45px 0

.product-week__header
    font-family: 'Open Sans Bold'
    font-size: 17px
    font-weight: 700
    line-height: 1.17647
    text-transform: uppercase
    color: #63d1bb
    margin-bottom: 30px

.product-week__description-text
    line-height: 2
    margin-bottom: 30px

.product-week__description-properties
    width: 260px
    margin-bottom: 30px

.product-week__field
    width: 33.3%
    border-bottom: 1px solid #ececec
    height: 40px

.product-week__value
    border-bottom: 1px solid #ececec
    height: 40px

.product-week__price
    text-align: center
    padding: 30px 0
    font-family: 'Open Sans Bold'
    font-size: 17px
    color: black

.product-week__buy
    text-align: center