.reviews
    margin: 40px 30px

.reviews__title
    color: black
    font:
        family: 'Open Sans Bold', Arial
        size: 25px
        weight: 700

.reviews__container
    margin: 40px 0

.reviews__text
    margin-bottom: 20px
    line-height: 2

.reviews__author-name
    color: #444
    font:
        family: 'Open Sans Bold', Arial
        size: 17px
        weight: 700
    margin-bottom: 15px

.reviews__author-nickname
    font-size: 17px
    margin-bottom: 40px